html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
  font-family: 'Heebo', sans-serif;
  background-color: white;
  color: black;
}

h2 {
  text-align: center;
}

.container{
  margin: 10px 80px;
}

@media only screen and (max-width: 1024px) {
  .container{
    display: flex;
    margin: 5px 30px;
  }
}
@media only screen and (max-width: 480px) {
  .container{
    display: flex;
    margin: 5px 30px;
  }
}

div.indi-project{
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.projectInfo{
  margin: 40px;
}
.project-image{
  height: 400px;
  width: 600px;
  padding: 20px;
}

@media only screen and (max-width: 480px) {
  div.indi-project{
    padding-top: 0;
    display: flex;
    justify-content: space-between;
  }
  .projectInfo{
    margin: 0px;
  }
  .project-image{
    height: 400px;
    width: 600px;
    padding: 0px;
  }
}

@media only screen and (max-width: 1024px) {
  div.indi-project{
    padding-top: 0;
    display: flex;
    justify-content: space-between;
  }
  .projectInfo{
    margin: 0px;
    height: 800px;
  }
  .project-image{
    height: 400px;
    width: 600px;
    padding: 20px;
  }
  .dots{
    padding-top: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .project-image{
    height: 250px;
    width: 370px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 480px) {
  .project-image{
    height: 200px;
    width: 250px;
  }
}

a span {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background: pink;
}

a:hover span {
  display: block;
  text-align: center;
}

.photo {
  width: 160px;
  height: 220px;
  border-radius: 70px;
  float: left;
  padding-right: 20px;
}

a{
  position: relative
  text-decoration: none;
  color: black;
  font-size: 14px;
}

i{
  padding: 10px;
}

.hero{
  height: 800px;
  padding-top: 250px;
  text-align: center;
  background-color: pink;
  text-transform: lowercase;
}

.hero p{
  font-size: 24px;
  padding-top: 140px;
  font-family: 'Raleway', Arial, sans-serif;
  color: grey;
}


@import url(https://fonts.googleapis.com/css?family=Varela+Round);

.hero h1 {
  color: hsla(0, 0%, 0%, .9);
  font: normal 90px Varela Round, sans-serif;
  height: 140px;
  left: 0;
  letter-spacing: 5px;
  margin: -80px 0 0 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 22%;
  width: 100%;
  padding-top: 140px;
  animation: move linear 5000ms infinite;
}

@media only screen and (max-width: 1024px) {
  .hero {
    height: 500px;
  }
  .hero h1{
    position: absolute;
    top: 5%;
    font: normal 80px Varela Round, sans-serif;
  }
  .hero p{
    padding-top: 100px;
  }
}
@media only screen and (max-width: 480px) {
  .hero {
    height: 600px;
    width: 1090px;
  }
  .hero h1{
    font: normal 62px Varela Round, sans-serif;
    text-align: center;
    position: absolute;
    height: 140px;
    text-transform: uppercase;
    top: 20%;
    left: 52%;
    margin: 0;
    padding-top: 20px;
  }
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1),
      2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {
    text-shadow:
      -4px -4px 0 hsla(180, 100%, 50%, 1),
      -3px -3px 0 hsla(180, 100%, 50%, 1),
      -2px -2px 0 hsla(180, 100%, 50%, 1),
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(0, 100%, 50%, 1),
      3px 3px 0 hsla(0, 100%, 50%, 1),
      2px 2px 0 hsla(0, 100%, 50%, 1),
      1px 1px 0 hsla(0, 100%, 50%, 1)
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1),
      -3px 3px 0 hsla(0, 100%, 50%, 1),
      -2px 2px 0 hsla(0, 100%, 50%, 1),
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1),
      3px -3px 0 hsla(180, 100%, 50%, 1),
      2px -2px 0 hsla(180, 100%, 50%, 1),
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1),
      3px 3px 0 hsla(180, 100%, 50%, 1),
      2px 2px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1),
      -3px -3px 0 hsla(0, 100%, 50%, 1),
      -2px -2px 0 hsla(0, 100%, 50%, 1),
      -1px -1px 0 hsla(0, 100%, 50%, 1)
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1),
      2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
}

.section-header{
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}

/* Navabar Content Starts */
.nav-container {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: lowercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: -5px;
}
.nav-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.nav-container li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.5em;
  padding: 0;
}
.nav-container a {
  padding: 0.3em 0;
  color: grey;
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.nav-container a:before,
.nav-container a:after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #9b59b1;
  width: 0;
}
.nav-container a:before {
  top: 0;
  left: 0;
}
.nav-container a:after {
  bottom: 0;
  right: 0;
}
.nav-container a:hover,
.nav-container .current a {
  color: red;
}
.nav-container a:hover:before,
.nav-container .current a:before,
.nav-container a:hover:after,
.nav-container .current a:after {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .nav-container{ height: 50px; width: 560px;}
  .nav-container li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.1em 0.5em;
    padding: 0;
  }
}


#header-fix-space {
  height: 150px;
}

#fixed-header	{
  background-color: pink;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1500;
}
/* Navabar Content Ends */


.footer{
  font-size: 12px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: pink;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 40px;

}

#myBtn:hover {
  background-color: #555;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1300px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 500px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  margin: -30px;
  padding: 16px;
  color: pink;
  background-color: rgba(0,0,0,0.8);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 40px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 40px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
h2.skills-title{
  text-align: center;
}
.skills-icon {
  font-size: 3rem;
  color: grey;
}

.skills-container{
  display: flex;
  flex-direction: column;
}

.skills-child {
  color: black;
}
.skills-child.icons{
  margin: 0 350px ;
}


@media only screen and (max-width: 480px) {
  .skills-child {
  margin: 0;
  padding-left: 0;
  }
  .education-container {
    display: flex;
    flex-direction: column;
  }
  .skills-child.icons {
    margin: 0 40px;
  }
  .vl {
    border-top: 1.2px solid #A9A9A9;
    height: 500px;
    margin-top: 20px;
    margin-left: 5px;
    padding: 15px;
  }
}

.education-container{
  display: flex;
}
.education-child {
  width: 50%;
  color: black;
}

@media only screen and (max-width: 480px) {
  .education-child{
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .vl {
    height: 680px;
  }
}

p.tech-languages{
  text-align: center;
  font-weight: 900;
}

.vl-education {
  border-left: 1.2px solid 	#A9A9A9;
  height: 350px;
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px;
}
@media only screen and (max-width: 1024px) {
  .vl-education {
    height: 430px;
  }
}

@media only screen and (max-width: 480px) {
  .vl-education{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
}

.project-links {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: lowercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: -5px;
}
.project-links * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.project-links li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 0.25em;
  padding: 0;
}
.project-links a {
  padding: 0.3em 0;
  color: black;
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.project-links a:before,
.project-links a:after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #9b59b1;
  width: 0;
}
.project-links a:before {
  top: 0;
  left: 0;

}
.project-links a:after {
  bottom: 0;
  right: 0;
}
.project-links a:hover,
.project-links .current a {
  color: red;
}
.project-links a:hover:before,
.project-links .current a:before,
.project-links a:hover:after,
.project-links .current a:after {
  width: 100%;
}

/* Skills Hover animation */
.column {
  margin: 15px 15px 0;
  padding: 0;
}

.column:last-child {
  padding-bottom: 60px;
}
.column::after {
  content: '';
  clear: both;
  display: block;
}
.column div {
  position: relative;
  float: left;
  width: 60px;
  height: 50px;
  margin: 0 0 0 25px;
  padding: 0;
}
.column div:first-child {
  margin-left: 0;
}
.column div span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 70px;
  margin: 0;
  padding: 0;
  color: pink;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
  font-weight: 1000;
}
figure {
  width: 60px;
  height: 50px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
figure:hover+span {
  bottom: -36px;
  opacity: 1;
}
